.sort-popup
{
	.popup 
	{
		width: 300px;
	}

	.popup-head
	{
		display: none;
	}

	.popup-body
	{
		padding: 12px 0;
	}

	.sort-item
	{
		@include -w-prefix(display, -flex);
		@include -w-prefix(-align-items, center);
		@include removeApperance();
		width: 100%;
		padding: 12px 6px;
		font-size: $dc_big;

		&.activated
		{
			background-color: rgba(0,0,0,0.1);
			color: $dc_red;
		}

		span
		{
			@include -w-prefix(-flex, 1);
			text-align: left;
		}

		&:before
		{
			font-size: 24px;
			width: 48px;
		}

		&:after
		{
			font-size: 18px;
			width: 36px;
			content: "\f455";
			font-family: "dc_icons";
			color: $dc_darkgray;
		}

		&.active
		{
			color: $dc_red;
			font-family: Roboto-Bold;

			&:after
			{
				content: "\f456";
				font-weight: 700;
				color: $dc_red;
			}
		}
	}	
}