<form
	ng-submit="vm.dcPasswordReset.form.confirm()"
	>

<div 
	class="text"
	translate="LOGIN.PASSWORD_RESET_INFO.CONTENT"
	translate-values="{
		'username' : vm.username
	}"
	>
</div>

<input
  type="text"
  maxlength="4"
  class="dc-input password-reset-input token"
  ng-model="vm.reset.code"
  placeholder="{{::('LOGIN.PASSWORD_RESET_INPUT.PLACEHOLDER.TOKEN' | translate)}}"
  />

<input
  type="password"
  class="dc-input password-reset-input password"
  ng-model="vm.reset.password"
  placeholder="{{::('LOGIN.PASSWORD_RESET_INPUT.PLACEHOLDER.PASSWORD' | translate)}}"
  />

<dc-password-strength
  password-model="vm.reset.password"
  error-model="vm.dcPasswordReset.error"
  validity-model="vm.dcPasswordReset.valid"
  >
</dc-password-strength>

<div
	class="error"
	ng-if="vm.dcPasswordReset.submitted"
	ng-bind="vm.dcPasswordReset.error"
	>
</div>

<div 
	class="popup-buttons"
	>

	<button 
		type="button"
		class="dc-button dc-button-gray"
		translate-once="LOGIN.PASSWORD_RESET_INPUT.CANCEL"
		ng-click="vm.dcPasswordReset.form.cancel($event)"
		>
	</button>

	<button 
		type="submit"
		ng-disabled="vm.reset.code.length < 4"
		class="dc-button dc-button-lightgreen"
		translate-once="LOGIN.PASSWORD_RESET_INPUT.CONFIRM"
		>
	</button>
	
</div>

</form>